/***** Set up *****/

.the-social-links,.the-social-links:hover{display:inline-block;text-decoration:none;color:#000;text-align:center}

/***** Sizes *****/

.tsl-24{width:24px;height:24px;line-height:24px;font-size:14px;}
.tsl-24 i{line-height:24px;}
.tsl-32{width:32px;height:32px;line-height:32px;font-size:18px;}
.tsl-32 i{line-height:32px;}
.tsl-48{width:48px;height:48px;line-height:48px;font-size:26px;}
.tsl-48 i{line-height:48px;}

/***** Styles *****/

/* Square */

/* Rounded */
.tsl-rounded{border-radius:5px;}

/* Circle */
.tsl-circle{border-radius:100%;}

/* Standard */
a.tsl-default{background:#222;color: #fff !important;}
a.tsl-default i{color:#fff !important;}

.tsl-default.tsl-facebook{background:#3b5998;color:#fff;}
.tsl-default.tsl-google-plus{background:#dd4b39;color:#fff;}
.tsl-default.tsl-instagram{background:#3f729b;color:#fff;}
.tsl-default.tsl-linkedin{background:#0976b4;color:#fff;}
.tsl-default.tsl-pinterest{background:#cc2127;color:#fff;}
.tsl-default.tsl-rss{background:#f26522;color:#fff;}
.tsl-default.tsl-twitter{background:#55acee;color:#fff;}
.tsl-default.tsl-vimeo-square{background:#1ab7ea;color:#fff;}
.tsl-default.tsl-youtube{background:#cd201f;color:#fff;}
.tsl-default.tsl-behance{background:#0057ff;color:#fff;}
.tsl-default.tsl-bitcoin{background:#000;color:#fab915;}
.tsl-default.tsl-delicious{background:#0076eb;color:#fff;}
.tsl-default.tsl-deviantart{background:#9cb1a3;color:#06cc47;}
.tsl-default.tsl-digg{background:#000;color:#fff;}
.tsl-default.tsl-dribbble{background:#ea4c89;color:#fff;}
.tsl-default.tsl-flickr{background:#000;color:#fff;}
.tsl-default.tsl-foursquare{background:#2d5be3;color:#fff;}
.tsl-default.tsl-github{background:#000;color:#fff;}
.tsl-default.tsl-lastfm{background:#000;color:#b90000;}
.tsl-default.tsl-medium{background:#222;color:#fff;}
.tsl-default.tsl-skype{background:#00aff0;color:#fff;}
.tsl-default.tsl-soundcloud{background:#f50;color:#fff;}
.tsl-default.tsl-spotify{background:#1db954;color:#fff;}
.tsl-default.tsl-tumblr{background:#36465d;color:#fff;}
.tsl-default.tsl-vine{background:#00bf8f;color:#fff;}
.tsl-default.tsl-wordpress{background:#21759b;color:#fff;}
.tsl-default.tsl-telegram{background:#0088CC;color:#fff;}

a.tsl-default:hover, a.tsl-default:hover{background:#222;color:#fff !important;}

/* Admin */
.tsl-links .tsl-item{cursor: move;}
.admin .social-networks label{width: 33%;display: inline-block;margin-bottom:10px;}
